@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(158, 158, 153);
}

h1 {
  font-size: 3.2rem;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.4rem;
}

p {
  margin: 2rem 0;
  color: rgba(21, 19, 60, 0.5);
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
}

span {
  text-transform: capitalize;
  font-weight: bold;
}

.stories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  margin-top: 40px;
}

.card {
  min-width: 20rem;
  width: 40vw;
  padding: 4rem;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  color: #15133c;
}

.card-button {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-button a {
  color: #92b4ec;
  font-weight: 400;
  font-size: 1.6rem;
}

.card-button a:last-child {
  color: red;
}

form {
  display: grid;
  place-items: center;
}

input {
  padding: 1rem;
  min-width: 40rem;
  font-size: 2rem;
  text-transform: capitalize;
  border: none;
  border-bottom: 0.2rem solid #15133c;
  outline: none;
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.8rem 2.2rem;
  border: none;
  font-size: 1.6rem;
  background-color: #15133c;
  color: #ffffff;
  margin: 3rem;
  cursor: pointer;
  display: inline-block;
}

/* responsive layout  */

@media (max-width: 998px) {
  html {
    font-size: 56%;
  }

  .card {
    min-width: 45rem;
    padding: 2.5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 51%;
  }

  .card {
    min-width: 35rem;
    padding: 2rem;
  }
}

/* card Component */
/* .card_container{
  background-color: #15133c;
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(212, 188, 188, 0.25);
  transition: all 0.2s;
}

.card_container:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #e91d1d;
}
buttons-container {
  width: 100%;
  top: 50%;
  position: absolute;
  justify-content: center;
  display: inline-flex;
}
.btn {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  padding: 10px 80px;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
}
.btn-cancel {
  color: #333;
  background-color: #e0e0e0;
  border-color: #ccc;
} */